.backdrop {
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);

    z-index: 1;
    opacity: 1;

    transition: opacity $time $cubic,
        visibility $time $cubic;
    overflow-y: scroll;

}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;

    width: 100%;
    max-width: 450px;

    @media screen and (max-height: 680px) {
        transform: translate(-50%, 0) scale(1);
        top: 0;
    }

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 4px;


    background: $main-background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: transform $time cubic-bezier(0.4, 0, 0.2, 1);



    @media screen and (min-width: 1200px) {
        max-width: 528px;
    }

    overflow-y: scroll;

}



.modal__closing-button {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 8px;
    top: 8px;

    width: 30px;
    height: 30px;

    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    background: #ffffff;
    transition: fill $time $cubic;
    cursor: pointer;

    &:hover,
    &:focus {
        fill: $color-hover;
    }
}