.logo {
        font-family: "Raleway";
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: $color-logo-two;
        letter-spacing: 0.03em;
        text-decoration: none;
        display: block;
    }
    

.logo__half {
        color: $color-logo;
    }
.footer__logo
{
        color: $color-logo-three;
    }