.form2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
}
.form2__field {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form2__button {
    margin-left: auto;
    margin-right: auto;
}

.form2__input {
width: 100%;
}
.form2__thumb{
    position: relative;
    width: 100%;
    margin-top: 15px;
}
.form2__icon {
    position: absolute;
    bottom: 50%;
    left: 20px;
    transform: translateY(50%);
}
.form2__field:hover .form2__icon {
    fill: aqua;
}

