 

    @media screen and (min-width: 768px){
        .social {margin-left: auto;}}
    @media screen and (min-width: 1200px) {
            .social {
                        margin-left: 70px;
                    }
                }
                    

                

    .call {
            display: block;
            text-align: center;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
    
            margin-bottom: 20px;
    
            color: $color-logo-three;
            @media screen and (min-width: 1200px) {
                text-align: start;                
            }
        }




.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    @media screen and (min-width: 1200px) {
            margin-bottom: 0;
        }
    

}

.footer__link {

    &:hover,
    &:focus {
        background-color: $color-hover;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    color: $main-background-color;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 44px;
    height: 44px;

    transition: background-color $time $cubic;

}


.footer__ellips {
    &+& {
        margin-left: 10px;

    }
}

.footer__icon {
    fill: currentColor;
}