.subscription {
    // margin-left: auto;

    @media screen and (max-width: 1199px) {
        width: 100%;
    }

    @media screen and (min-width: 1200px) {
        margin-left: auto;
    }
}

.subscription__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.subscription__call {
    text-align: center;
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 20px;

    color: $color-logo-three;

    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}

.subscription__form-field {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    position: relative;

    @media screen and (min-width: 1200px) {
        display: inline-block;
    }

    @media screen and (max-width: 1199px) {
        width: 100%;
    }
}

.subscription__text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    appearance: none;
}

.subscription__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: transparent;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);

    width: 450px;
    height: 50px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;


    margin-bottom: 20px;

    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.6);
    }

    @media screen and (min-width: 1200px) {
        width: 360px;
        margin-right: 12px;
        margin-bottom: 0;

    }

}




.subscription__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;

}

.button__text {
    margin-right: 10px;
}