.header {
    border-bottom: 1px solid $color-border-heder;


    &__wrap {
        @media screen and (min-width: 768px) {
            display: flex;
            // flex-wrap: wrap;
            align-items: center;

        }

    }

    &__logo {
        @media screen and (min-width: 480px) {
            padding-top: 16px;
            padding-bottom: 16px;
        }

        @media screen and (min-width: 768px) {
            padding-top: 26px;
            padding-bottom: 26px;
        }

        @media screen and (min-width: 1200px) {
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
}

.logo__half {
    color: $color-logo;
}