$main-color: #212121;
$main-background-color: #ffffff;
$color-logo: #000000;
$color-logo-two: #2196f3;
$color-logo-three: #ffffff;
$color-button-one: #ffffff;
$color-hover: #2196f3;
$color-text: #757575;
$color-mail: rgba(255, 255, 255, 0.6);
$color-border: #eeeeee;
$color-border-heder: #ececec;
$background-color-one: #2f303a;
$background-color-two: #f5f4fa;
$background-color-button: #2196f3;
$background-color-button-two: #f5f4fa;
$margin-portfolio-item: 30px;
$background-color-icon: #afb1b8;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;
$var: calc(100% / 3 - 30px)